In [7]:
import pandas as pd
import numpy as np
from common.features import extract_has_top_keyword

In [4]:
orig_data = pd.read_csv('./data/train.csv')
data = orig_data.copy()

In [11]:
data['log_budget'] = np.log1p(data.budget)
data['log_popularity'] = np.log1p(data.popularity)
data['log_revenue'] = np.log1p(data.revenue)

has_top_keyword_df = extract_has_top_keyword(orig_data)
data = data.merge(has_top_keyword_df, on=['id'], how='left')


features = [
    'log_budget', 'log_popularity', 'has_top_keyword'
]
target = 'log_revenue'

In [10]:
data.head(1)

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,status,tagline,title,Keywords,cast,crew,revenue,has_top_keyword_x,log_budget,has_top_keyword_y
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,True,16.454568,True